# Django settings config
SECRET_KEY=your-django-secret-key-here
DEBUG=True

# Administrator phone number
ADMIN_PHONE_NUMBER=9876543210

# Twilio configuration credentials
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

